/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 10px 0;
  z-index: 1000;
} */
.navbar-container {
  position: fixed; /* Fixes the navbar at the top of the page */
  top: 0;
  left: 0;
  padding:5px;
  width: 100%; /* Ensures it spans the full width of its container */
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  background-color: #f8f9fa; /* Light background color */
  /* padding: 1px 0; Adds some padding for spacing */
  z-index: 1000; /* Keeps navbar above other content */
  border-bottom: 1px solid #dee2e6; 
}
