html, body {
    height: 100%;
    margin: 0;
  }
.section-main {
    position: relative;
    padding-top: 60px; /* Space for the fixed box */
  } 
  .custom-card {
      background-color: #f9f9f9;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      border: none;
      border-radius: 8px;
      transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .custom-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    }
    
    .card-body {
        padding: 1.25rem;
    }
    
    .card-title {
        margin-bottom: 0.75rem;
    }
    
    .card-text {
        margin-bottom: 1.25rem;
    }
    
    .row.mt-4 {
        margin-top: 2rem;
    }
    
    .col-md-6 {
        margin-bottom: 2rem;
    }
    .font-roboto {
        font-family: 'Open Sans', sans-serif;
        
        /* font-family: 'Roboto', sans-serif; */
    }
    .custom-box {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
        width: 100%;
        margin: 0 auto;
        z-index: 1000;
      }
      .custom-box:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }
   
     