.profile-icon {
    font-size: 1.5rem; /* Adjust size of the icon */
    cursor: pointer; /* Pointer cursor on hover */
    position: fixed; /* Fix position */
    /* top: 5px; Distance from the top */
    right: 5px; /* Distance from the right */
    padding: 2px;
  }
  
  .dropdown-menu {
    min-width: 25px; /* Minimum width for the dropdown */
  }
  